// Default variable overrides

// scss-docs-start theme-color-variables
$primary:       #FDB10F; 
$secondary:     #6600FF;
$success:       #198754;
$info:          #00CECB;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #111127;
// scss-docs-end theme-color-variables

// Your variable overrides
$body-bg: #fff;
$body-color: #111127; 
