<!-- Features section -->
<div class="row justify-content-left mt-lg-12">
     <div class="col-lg-6">
        <h2 class="h2">About the study <small class="d-none"></small></h2> 
        <div class="col-lg-12 justify-content-left"> 
        <p>This study looks at the teacher and student experience of the assessment workflow using new platform <a href="https://www.getkita.org/" target="_blank" rel="noreferrer">Kita</a>; from student work submission to return of feedback to students. 
        By taking part in the study you can help researchers understand the needs of teachers and students. </p> 
        </div>
    </div>
    <div class="col-lg-6">
        <h2 class="h2">What is Kita? <small class="d-none"></small></h2> 
        <div class="col-lg-12 justify-content-left">
        <p>Computing educators have long experienced the frustration of teaching with an unsustainable patchwork of disconnected tools. 
        Kita has been built by educators to address challenges particularly in relation to assessment and feedback for Computer Science teaching.</p> 
        </div> 
    </div>
</div> 
<div class="row justify-content-left mt-lg-12">
    <p>This study is funded by the Department for Education (DfE) and the research will be conducted independently by researchers from the University of Brighton. </p>
</div> 

<div class="row justify-content-left mt-lg-12 justify-content-center">
    <div class="col-lg-3">
        <img src="/images/ukgov.png" width="80%"/>
    </div>
     <div class="col-lg-3">
        <img src="/images/InnovateUK.webp" width="90%"/>
    </div>
</div> 
<hr class="spacer-section">
<div class="row justify-content-left mt-lg-3 spacer-section">
    <div class="col-lg-12 spacer-number">
    <h2 class="h2" id="participate">Elligibility <small class="d-none"></small></h2> 
    </div>
    <div class="col-lg-2 spacer-number">
        <img src="/images/feather/icons/no1.svg" alt="" />
    </div>
    <div class="col-lg-10 spacer-small"> 
        <h2 class="h3">Who <small class="d-none"></small></h3> 
    <div class="row justify-content-left mt-lg-4"> 
        <p>You can take part in the research if you are:</p>
            <ul class="list-group justify-content-left">
                <li class="list-group-item">A teacher providing Key Stage 3–5 computer science learning in England, Wales, Scotland, or NI. This includes state, charter, independent, and selective schools.</li>
            </ul> 
    </div>  
    </div>
    <div class="col-lg-2 spacer-number">
        <img src="/images/feather/icons/no2.svg" alt="" />
    </div>
    <div class="col-lg-10 spacer-small"> 
        <h2 class="h3">Time </h3> 
        <div class="row justify-content-left mt-lg-4"> 
            <p>Total time commitment for teachers: 5 hours (May-June based on =< 30 students)</p>
                <ul class="list-group justify-content-left">
                    <li class="list-group-item">Content you specify will be added to the platform to help minimise time commitment. </li>
                </ul> 
        </div>  
    </div>
        <div class="col-lg-2 spacer-number">
        <img src="/images/feather/icons/no3.svg" alt="" />
    </div>
    <div class="col-lg-10 spacer-small"> 
        <h2 class="h3">Try <small class="d-none"></small></h3> 
        <div class="row justify-content-left mt-lg-4"> 
            <p>Why not give Kita a try?</p>
                <ul class="list-group justify-content-left">
                    <li class="list-group-item">Try the open version of Kita for <a href="https://getkita.io/try-teacher/dashboard" target="blank" rel=noopener>Teachers</a> | <a href="https://getkita.io/try/dashboard" target="blank" rel=noopener>Students</a>. </li>
                </ul> 
        </div>  
    </div>
</div>

<div class="row justify-content-left mt-lg-3">
    <div class="col-lg-12 spacer-small">
    <h2 class="h2">Participant information <small class="d-none"></small></h2> 
    <p>The following documents are drafts currently going through ethical review at the University of Brighton and will be finalised soon.</p>
    </div>
    <div class="col-lg-6"> 
        <h2 class="h3">Teachers and School Leaders <small class="d-none"></small></h3> 
    <div class="row justify-content-left mt-lg-4"> 
        <p>Information about the study for teachers and school leaders (draft).  
        </p> 
    <div class="col-lg-4"> 
        <p><a href="/documents/PIS Kita evaluation - teachers DRAFT.pdf" target="_blank">Participant information</a> <br/>PDF: 184 KB</p> 
    </div>   
    <div class="col-lg-3"> 
        <a href="/documents/PIS Kita evaluation - teachers DRAFT.pdf" target="_blank">
        <img src="/images/feather/icons/co_present.svg" alt="" width="40%" />
        </a>
    </div>
    </div> 
    </div> 
    <div class="col-lg-6"> 
        <h2 class="h3">Parents and Students <small class="d-none"></small></h3> 
    <div class="row justify-content-left mt-lg-4"> 
        <p>Information that can be shared with students and their parents (draft).</p> 
        <div class="col-lg-4"> 
        <p><a href="/documents/PIS Kita evaluation - parents DRAFT.pdf" target="_blank">Participant information</a> <br/>PDF: 184 KB</p> 
    </div>   
    <div class="col-lg-3 spacer-section"> 
        <a href="/documents/PIS Kita evaluation - parents DRAFT.pdf" target="_blank">
         <img src="/images/feather/icons/groups.svg" alt="" width="40%" />
        </a>
    </div>
    </div> 
</div> 

</div>
<div class="row justify-content-left mt-lg-3">
    <div class="col-lg-12">
    <h2 class="h2">Would you like find out more?</h2> 
    <p>We have included a high-level overview of the study on the <a href="/docs" target="_self">Docs page</a>. If you are ready to take part, get in touch using the form below.</p>
    </div>
    </div>
<div class="row justify-content-left mt-lg-10 spacer-section">
    <div class="col-lg-5"> 
    <a class="btn btn-bd-primary btn-lg px-4 mb-6" href="https://docs.google.com/forms/d/e/1FAIpQLSfV1jbY_Tlh9Uj-bCcu5ojrX2-0YTgCYPfq_p8VrjtoFXtjsQ/viewform?usp=header" role="button">Complete the interest form</a>
    </div>
</div>


